.experience-single-wrapper {
	width: 100%;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 3.5fr;
	grid-template-rows: auto;
	grid-template-areas: "path info-m" "path info-m";
	row-gap: 100px;
}

.experience-single-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.experience-single-info-logo {
	height: 200px;
	max-width: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	margin-bottom: 10px;
}

.experience-single-info-logo-link {
	height: 200px;
	background: #fff;
}

.experience-single-info-logo-img {
	max-width: 90%;
}

.experience-single-path {
	grid-area: path;
	display: flex;
	align-items: center;
	justify-content: center;
}

.experience-single-path-line {
	position: absolute;
	height: 100%;
	width: 3px;
	z-index: -999;
	background: #ffd54f;
}

.experience-single-path-logo {
	border-radius: 50%;
	background: #ffd54f;
	transition: 300ms;
	margin-top: 60px;
	margin-bottom: 60px;
}

.experience-single-path-logo:hover {
	-webkit-transform: scale(1.04, 1.04);
	-moz-transform: scale(1.04, 1.04);
	-ms-transform: scale(1.04, 1.04);
	-o-transform: scale(1.04, 1.04);
	transform: scale(1.04, 1.04);
}

.experience-single-path-logo-img {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	border: 3px solid #ffd54f;
}

.info-l {
	grid-area: info-m;
	text-align: left;
	margin-left: 15px;
}

.info-r {
	grid-area: info-m;
	text-align: left;
	margin-left: 15px;
}

.experience-single-info-position {
	font-size: 19px;
	color: #fff;
}

.experience-single-info-company {
	font-size: 15px;
}

.experience-single-info-location {
	font-size: 13px;
}

.experience-single-info-date {
	font-size: 13px;
}

@media (min-width: 375px) {
	.experience-single-path-logo-img {
		height: 70px;
		width: 70px;
	}
}

@media (min-width: 768px) {
	.experience-single-wrapper {
		grid-template-columns: 3fr 1fr 3fr;
		grid-template-rows: auto;
		grid-template-areas: "info-l path info-r";
	}

	.info-l {
		grid-area: info-l;
		text-align: right;
		margin-right: 30px;
	}

	.info-r {
		grid-area: info-r;
		text-align: left;
		margin-left: 30px;
	}

	.experience-single-path-logo-img {
		height: 95px;
		width: 95px;
		border: 5px solid #ffd54f;
	}

	.experience-single-path-logo {
		border-radius: 50%;
		background: #ffd54f;
		margin-top: 75px;
		margin-bottom: 75px;
	}
}

@media (min-width: 992px) {
	.experience-single-path-logo-img {
		height: 130px;
		width: 130px;
	}

	.info-l {
		text-align: right;
		margin-right: 50px;
	}

	.info-r {
		text-align: left;
		margin-left: 50px;
	}

	.experience-single-info-position {
		font-size: 21px;
	}

	.experience-single-info-company {
		font-size: 15px;
	}

	.experience-single-info-location {
		font-size: 15px;
	}

	.experience-single-info-date {
		font-size: 15px;
	}
}

@media (min-width: 1200px) {
	.experience-single-path-logo-img {
		height: 140px;
		width: 140px;
	}

	.experience-single-info-position {
		font-size: 25px;
	}

	.experience-single-info-company {
		font-size: 20px;
	}

	.experience-single-info-location {
		font-size: 18px;
	}

	.experience-single-info-date {
		font-size: 18px;
	}
}
