.about-skill-wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	row-gap: 10px;
}

.about-skill-single {
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-skill-single-logo {
	height: 70px;
	margin-bottom: 5px;
}

.about-skill-single-name {
	font-size: 13px;
}

@media (min-width: 400px) {
	.about-skill-wrapper {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media (min-width: 576px) {
	.about-skill-wrapper {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
}

@media (min-width: 768px) {
	.about-skill-wrapper {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}

@media (min-width: 992px) {
	.about-skill-wrapper {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}

@media (min-width: 1200px) {
	.about-skill-wrapper {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}
